*~
*.swp
*.DS_Store

#ignore libraries and helper files
*.so
*.d

#ignore output files
*.root
*.out
*.pdf
*.log
*.dot

#Allow PDFs and PNGs in plots directory
!build3/plots/
!build3/plots/**/*.pdf
!build3/plots/**/*.png

#ignore build and map directory
build*
!build3
build3/*
!build3/plots/
!build3/collimatortest.C
!build3/collimatortest.h

#ignore log and rootfiles directory
log
rootfiles
